@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;800&display=swap');

:root {
    --principal: #F45D48;
    --contraste: #078080;
    --background-gris: #F2F0ED;
    --background-rojo: #feefe8;
    --background-transparente-gris: rgba(242, 240, 237, 0.9);
    --background-transparente-rojo: rgba(247, 147, 133, 0.4);
    --negro: #232323;
    --blanco: #F2F0ED;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    /* border: 1px solid black; */
}

header {
    background-color: var(--background-rojo);
    width: 100%;
    height: 70px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--negro);
}

.imgLink {
    height: 100%;
}

#logo {
    height: 100%;
}

nav ul {
    display: flex;
    gap: 40px;
    margin-right: 50px;
}

.navLink {
    text-decoration: none;
    color: var(--negro);
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    padding: 10px;
}

.navLink:hover {
    color: var(--blanco);
    background-color: var(--contraste);
    transition: 200ms;
}

main {
    background-color: var(--background-gris);
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

#hero {
    height: calc(100vh - 70px);
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    gap: 70px;
}

.hero-text {
    font-size: 25px;
    font-family: 'Inconsolata', monospace;
}

.hero-text h1 {
    font-size: 50px;
}

.hero-text p {
    padding-top: 30px;
    font-family: monospace;
}

.hero-contact a {
    margin: 5px;
    padding: 10px;
    background-color: var(--contraste);
    text-decoration: none;
    font-family: monospace;
    font-size: 25px;
    font-weight: 900;
    color: var(--blanco);
    
}

.hero-contact a:hover {
    margin: 3px;
    box-shadow: 3px 5px 3px #232323;
    transition: 100ms;
}

.hero-img {
    width: auto;
    margin: 40px;
    display: flex;
}

#extra-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

#extra-info p {
    padding: 50px;
    border-radius: 0.7em;
    background: var(--background-transparente-gris);
    font-style: italic;
    font-size: 1.4em;
    font-weight: 100;
    font-family: monospace;
    text-align: center;
    transition: 250ms;
}

#extra-info p:hover {
    background: var(--background-transparente-rojo);
}

#cards {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata', monospace;
    
}

.cards-text {
    font-size: 1.5em;
    color: var(--negro);
    text-align: center;
}

.cards-text h2 {
    padding-bottom: 30px;
}

.cards-text p {
    padding-bottom: 30px;
}

.cards-list {
    background-color: var(--background-gris);
    background-image: url(./imagenes/susan-q-yin-10xingmjT0A-unsplash.jpg);
    background-position: 65% 61%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    padding: 40px;
}

.card {
    background: var(--background-transparente-gris); 
    
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card p {
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    background: var(--background-transparente-rojo);
}

.card h3 {
    background-color: var(--contraste);
    padding: 15px;
    background-size: 200%;
    background-image: linear-gradient(to right, var(--contraste) 50%, var(--principal) 50%);
    color: var(--blanco);
    transition: background-position 500ms;
    -webkit-transition: background-position 500ms;
    -moz-transition: background-position 500ms;
}

.card h3:hover {
    background-position: 100%;
}

#contact {
    font-size: 1.2em;
    font-family: 'Inconsolata', monospace;
    margin: auto;
    width: 50vw;
    padding-bottom: 40px;
}

#contact h2 {
    padding: 30px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contact-list span {
    font-weight: 800;
}

.social-media div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.social-media-links {
    font-size: 2em;
    color: var(--negro);
}

.social-media-links::after {
    color: var(--contraste);
}

footer {
    background: var(--background-gris);
    padding-top: 30px;
    padding-bottom: 7px;
}

.divisor {
    height: 1px;
    width: 100%;
    background: var(--negro);
}

footer p {
    font-family: monospace;
    font-size: 1.2em;
    padding: 5px;
    text-align: center;
}

@media (max-width: 576px) {

    header {
        justify-content: center;
    }

    nav ul {
        gap: 1px;
        margin-right: 0;  
    }

    .navLink {
        font-size: 16px;
        padding: 2px;
        border-right: 2px solid var(--negro);
    }

    #hero {
        height: 70vh;
        width: 100%;
        padding-bottom: 70px;
        flex-direction: column;
        justify-content: center;
    }

    .hero-info {
        width: 100%;
        text-align: center;
    }

    .hero-text {
        font-size: 20px;
    }

    .hero-img {
        display: none;
    }

    #extra-info p {
        padding: 10px;
        background: var(--background-rojo);
        border-radius: 0;
        font-weight: 600;
    }

    #cards {
        width: 100%;
        background-image: none; 
    }

    .cards-list {
        background-image: none;
        width: 100%;
        gap: 0;
    }

    .card img {
        width: 100%;
    }

    .card p {
        background: var(--background-rojo);
    }

    #contact {
        text-align: center;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .divisor {
        display: none;
    }
}

@media (max-width: 991px) {

    #hero {
        flex-direction: column;
        padding-top: 80px;
    }

    .hero-info {
        width: 100%;
        padding: 70px 50px;
    }

    .hero-contact {
        align-self: center;
    }

}